
.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
    animation: cd-sequence 1.0s steps(24);
    animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
    animation: cd-sequence-reverse 1.0s steps(24);
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
    display: none;
}


@keyframes cd-sequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }
    100% {
        transform: translateY(-50%) translateX(-98%);
    }
}




@keyframes cd-sequence-reverse {
    0% {

        transform: translateY(-50%) translateX(-98%);
    }
    100% {

        transform: translateY(-50%) translateX(-2%);
    }
}
